@model IEnumerable<SearchCore.Model.SearchableEntityDTO>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <table>
            @foreach (var entity in Model)
            {
                    <tr>
                            <table>
                        <tr >
                            <p>
                                @entity.Name <br/>
                                    <small>

                                    @entity.Description
                                </small>
                            </p>
                        </tr>

                    </table>
                        @*<td>@customer.ContactName</td>
                        <td>@customer.Country</td>*@
                    </tr>
            }
        </table>
        <br />
        @Html.ActionLink("Back", "Index", "Home")
    </div>
</body>
</html>